.ef-accordion-container {
  overflow: hidden;

  button {
    // padding: 1em 0;
    width: 100%;
    background-color: #522B7F;
    color: #ffffff;
    appearance: none;
    box-shadow: none;
    border: none;

    &:hover {
      background-color: #514F5A;
    }
  }

  .ef-accordion-content {
    display: block;
  }

  .ef-accordion-content.collapsed {
    display: none;
  }
}
