$link-height: 10rem;
$small-link-height: 5rem;
$home-link-background-height: 6rem;
$small-home-link-background-height: 3rem;

#header-primary {
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);

  // set margins to center navigation
  nav {
    @include outer-container;
    font-size: 1.5rem;
  }

  ul {
    margin: 0 auto;
    // establish flex-box container
    display: flex;
    // center the links
    justify-content: center;
    list-style-type: none;
    width: 100%;
  }

  // enclose icons with circles
  .circle {
    display: inline-block;
    padding-top: 0.9rem;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 1.75rem;
    background-color: #522B7F;
    color: #ffffff;
    &:hover {
      background-color: #514F5A;
      color: #ffffff;
    }

    // the facebook icon needs a little help
    .fa-facebook-official,
    .fa-linkedin-square {
      font-size: 1.75rem;
    }
  }

  a {
    margin: 0 1rem;
    display: inline-block;
    height: $link-height;
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: #522B7F;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    &:hover {
      color: #514F5A;
    }
  }

  [href^='#home'] {
    width: 8rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $home-link-background-height auto;
    @include background-image(url('../img/logo.png'));
    @include background-image(url('../img/logo.svg'));
    -webkit-transition: background-size 0.3s;
    -moz-transition: background-size 0.3s;
    -ms-transition: background-size 0.3s;
    -o-transition: background-size 0.3s;
    transition: background-size 0.3s;    
  }
}

#header-primary.smaller {
  a {
    height: $small-link-height;
  }

  [href^='#home'] {
    background-size: $small-home-link-background-height auto;
  }  
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  #header-primary {
    li:nth-of-type(1),
    li:nth-of-type(2) {
      display: none;
    }    
  }
}

