article {
  @include outer-container;
  color: $font-color-light;
  font-size: $base-font-size;
  font-family: $font-sans;
  line-height: $base-line-height;

  padding-top: 12.5rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5rem;
    color: $font-color;
    font-weight: $font-bold;
  }

  h1 {
    margin: 0;
  }

  p,
  dd {
    margin-top: 0.5rem;
    font-weight: $font-normal;
  }

  dt {
    color: $font-color;
    font-weight: $font-bold;
  }

  a {
    color: #522B7F;
    text-decoration: none;
    border-bottom: 2px dashed #522B7F;
    // background-color: #522B7F;
    // padding: 3px 5px;
    &:hover {
      // background-color: #514F5A;
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  article {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: $lead-font-size;
  }

  p,
  dd,
  dt,
  ul {
    font-size: $small-font-size;
    line-height: 1.25;
  }
}
