<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <header id="header-primary">
      <nav>
        <ul>
          <li><a href="#services">Services</a></li>
          <li><a href="#coaching">Coaching</a></li>
          <li id="home-link"><a href="#home">Home</a>
          <li><a mailto="jessicakatz@liberatedelephant.com">send email</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">LinkedIn</a></li>
        </ul>
      </nav>
    </header> 
    {% assign newContent = page.content %} 
    {{ newContent | markdownify }}
    <footer>
      <p>Copyright &copy; 2016 Liberated Elephant, LLC. All rights reserved.</p>
    </footer>
  </body>
</html>
