<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <header id="header-primary">
      <nav>
        <ul>
          <li><a href="#services">Services</a></li>
          <li><a href="#coaching">Coaching</a></li>
          <li id="home-link"><a href="#home">Home</a>
          <li><a mailto="jessicakatz@liberatedelephant.com"><i class="fa fa-envelope" aria-hidden="true"></i>send email</a></li>
          <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i>Facebook</a></li>
          <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i>LinkedIn</a></li>
        </ul>
      </nav>
    </header> 
    {% assign newContent = page.content %} 
    {{ newContent | markdownify }}
    <footer>
      <p>Copyright &copy; 2016 Liberated Elephant, LLC. All rights reserved.</p>
    </footer>
  </body>
</html>
